<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Student</title>

        <link rel="stylesheet" charset="utf-8" href="bower_components/bootstrap/dist/css/bootstrap.css">

        <!-- third party -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="src/js/lib/caliperSensor-1.0.0.js"></script>

        <!-- own -->
        <script src="src/js/main.js"></script>
        <script src="src/js/service/student.js"></script>
        <script src="src/js/service/caliper-sensor.js"></script>

        <style>
            .sep {
                margin: 20px 0;
            }
        </style>

    </head>
    <body>
        <section ng-app="pocApp">
            <div ng-controller="ctrl as vm" class="container">
                <div class="container header">
                    <h1>Outcome Events Simulator</h1>
                </div>

                <div class="container students">
                    <div ng-repeat="student in vm.students" class="sep row">

                            <form ng-if="!student.isReady">
                                <textarea class="form-control" rows="3" ng-model="feed" placeholder="Feed data (JSON format)"></textarea>
                                <button class="form-control btn btn-primary col-md-4" ng-disabled="!feed" ng-click="vm.loadEvents(student, feed)">Load</button>
                            </form>

                        <!-- Is ready -->
                        <div ng-if="student.isReady">
                            <h3>Events chain:</h3>
                            <div class="panel panel-default">
                                <div class="panel-heading">Events</div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="event in student.events">
                                            <span>{{event.getInfo()}}</span>
                                            <span class="label label-default" ng-if="!event.isCompleted">Waiting..</span>
                                            <span class="label label-success" ng-if="event.isCompleted">Done! (#{{event.order}})</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-primary" ng-click="vm.start(student)" ng-if="!student.hasStarted">Start</button>
                        </div>

                    </div>
                </div>

                <div class="container sep">
                    <button class="btn btn-primary" ng-click="vm.addStudent()">Add events</button>
                    <button class="btn btn-success" ng-click="vm.startAll()" ng-if="vm.students.length > 0">Start All</button>
                </div>
            </div>
        </section>
    </body>
</html>
